In [7]:
import requests
from config import OPENWHEATHER_API_KEY
import pandas as pd

In [13]:
url = "http://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID="+OPENWHEATHER_API_KEY

In [14]:
response = requests.get(url).json()

In [15]:
response

{'coord': {'lon': -0.1257, 'lat': 51.5085},
 'weather': [{'id': 500,
   'main': 'Rain',
   'description': 'light rain',
   'icon': '10n'}],
 'base': 'stations',
 'main': {'temp': 283.87,
  'feels_like': 283.32,
  'temp_min': 283.01,
  'temp_max': 284.69,
  'pressure': 1009,
  'humidity': 89},
 'visibility': 10000,
 'wind': {'speed': 7.2, 'deg': 260},
 'rain': {'1h': 0.35},
 'clouds': {'all': 75},
 'dt': 1703230982,
 'sys': {'type': 2,
  'id': 2075535,
  'country': 'GB',
  'sunrise': 1703232248,
  'sunset': 1703260413},
 'timezone': 0,
 'id': 2643743,
 'name': 'London',
 'cod': 200}

In [51]:
response["main"]

{'temp': 283.87,
 'feels_like': 283.32,
 'temp_min': 283.01,
 'temp_max': 284.69,
 'pressure': 1009,
 'humidity': 89}

In [21]:
response["coord"]

{'lon': -0.1257, 'lat': 51.5085}

In [24]:
response["wind"]

{'speed': 7.2, 'deg': 260}

In [26]:
response["sys"]

{'type': 2,
 'id': 2075535,
 'country': 'GB',
 'sunrise': 1703232248,
 'sunset': 1703260413}

In [27]:
response["name"]

'London'

In [52]:
df = pd.DataFrame(columns=["id","country","lon","lat","sunrise","sunset","wind_speed","temperature", "pressure", "humidity", "temp_max", "temp_min"]) 

id = response["sys"]["id"]
country = response["name"]
lon = response["coord"]["lon"]
lat = response["coord"]["lat"]
sunrise = response["sys"]["sunrise"]
sunset = response["sys"]["sunset"]
wind_speed = response["wind"]["speed"]
temp = response["main"]["temp"]
press = response["main"]["pressure"]
humidity = response["main"]["humidity"]
temp_max = response["main"]["temp_max"]
temp_min = response["main"]["temp_min"]


df = df.append({
    "id": id,
    "country": country,
    "lon": lon,
    "lat": lat,
    "sunrise": sunrise,
    "sunset": sunset,
    "wind_speed": wind_speed,
    "temperature": temp,
    "pressure": press,
    "humidity": humidity,
    "temp_max": temp_max,
    "temp_min": temp_min
    }, 
    ignore_index = True
    )

C:\Users\BETÜL DEMİRDAĞ\AppData\Local\Temp\ipykernel_17448\3224800789.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({

In [53]:
df

,id,country,lon,lat,sunrise,sunset,wind_speed,temperature,pressure,humidity,temp_max,temp_min
0,2075535,London,-0.1257,51.5085,1703232248,1703260413,7.2,283.87,1009,89,284.69,283.01